<a href="https://colab.research.google.com/github/JeusManigbas/OOP58001/blob/main/List%2C_Tuples_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [4]:
class shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width
rectangle = shapes(10,5)
rectangle.arearec()
#rectangle

50

In [12]:
class Shapes:
  def __init__(self,side):
    self.side = side
  def arearec(self):
    return self.legth * self.width
  def areasqr(self):
    return self.side**2

sqaure = shapes(5)
sqaure.areasqr()

25

In [3]:
pow(10,2)
array = ["apple","banana","orange"]
array.insert(0,"cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

In [23]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def function(self):
    print(self.name+self.age)
Hi=person("Manigbas, ","18 years old")
Hi.function()

Manigbas, 18 years old

Lsit

In [27]:
pi=3.141589
varlist = ['abc',1,'def',2]
print(varlist[0])

varlist.append('ghi')
print(varlist)
varlist.remove(2)
print(varlist)
varlist.insert(3,3)
print(varlist)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [32]:
students = {
            1:"Jeus",
            2:"Miguel",
            3:"Tumaob",
            4:"Manigbas",
            5:"18 years old",
}
print(students)

{1: 'Jeus', 2: 'Miguel', 3: 'Tumaob', 4: 'Manigbas', 5: '18 years old'}