<a href="https://colab.research.google.com/github/JeusManigbas/OOP58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**For loop**

In [6]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

**Break statement**

In [5]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [7]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  if x=="Thursday":
    print(x)      #It only displays Thursday
    break

Thursday

In [12]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  if x=="Thursday":
    break
  print(x)        #It displays from Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [23]:
#To display only Tuesday and Wednesday using break statement
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  if x=="Tuesday":
    print(x)
    break
for y in week:
  if y=="Wednesday":
    print(y)
    break

Tuesday
Wednesday

**Looping through a string**

In [17]:
for x in "week":
  print(x)

w
e
e
k

**Nested loops**

In [24]:
adjective=['red','big','tasty']
fruits=['apple','banana','cherry']
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**While loop**

In [25]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [43]:
#using break statement
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [44]:
i=1
while i<6:
  if i==3:
    print(i) #print only 3
    break
  i+=1

3

In [27]:
#else statement
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Let's try**

In [37]:
i=0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

**Application 2**

In [42]:
i=9 
while i>=3:
  print(i)
  i-=1

9
8
7
6
5
4
3